body {
  font-family: 'Titillium Web', sans-serif;
}

/** HEADER**/

header {
  background-color: #EDEDED;
  height: 5.5em;
}

.logo {
  max-width: 130px;
}

.signup {
  color: #707070;
}

.nav-bg {
  background-color: #716FB3;
}

nav li {
  display:inline-block;
  margin-right: 1px;
}

nav a {
  color: #fff;
}

nav a:hover {
  text-decoration: underline;
}

nav .current {
  text-decoration: underline;
}

/* BANNER */

h2 {
  color: #716FB3;
}

button {
  background-color: #716FB3;
  color: white;
  border-style: none;
  border-radius: 20px;
}

a {
  text-decoration: none;
}

button a {
  text-decoration: none;
  color: #fff;
}

button:hover {
  background-color: #707070;
}

.banner-text p, h2 {
  background-color: #fff;
  padding: .3em;
  border-radius: 20px;
}

.banner-text-wrap {
  position: relative;
  overflow: hidden;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* CARDS */


/** FOOTER **/

footer {
  background-color: #8A99A6;
  height: 1.5em;
}

.footerpdiv {
  position: relative;
}

footer p {
  color: #fff;
  text-align: center;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fa {
  color: #fff;
}

@media only screen and (min-width: 38em) {
  .review {
    overflow: hidden;
  }

  .review img {
    float: left;
    margin-left: 3em;
  }

}

@media only screen and (min-width: 60em) {

  .review img {
    float: none;
    max-width: 200px;
    margin: 0 auto;
    margin-top: 1em;
  }

}
