body {
  font-family: 'Titillium Web', sans-serif;
}

/** HEADER AND BANNER **/

header {
  background-color: #EDEDED;
}

.logo {
  max-width: 130px;
}

.nav-bg {
  background-color: rgba(#716fb3, 0.53);
}

h2 {
  color: #716FB3;
}

button {
  background-color: #716FB3;
  color: white;
  border-style: none;
  border-radius: 20px;
}

a {
  text-decoration: none;
}

nav a {
  color: #455560;
}

nav a:hover {
  text-decoration: underline;
}

nav .current {
  text-decoration: underline;
}

button a {
  text-decoration: none;
  color: #fff;
}

button:hover {
  background-color: #707070;
}

.banner-text p, h2 {
  background-color: #fff;
  padding: .3em;
  border-radius: 20px;
}

.banner-text-wrap {
  position: relative;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/** FOOTER **/

footer {
  background-color: #8A99A6;
}

footer p {
  color: #fff;
}
