body {
  font-family: 'Titillium Web', sans-serif;
}

/** HEADER**/

header {
  background-color: #EDEDED;
  height: 5.5em;
}

.logo {
  max-width: 130px;
}

.signup {
  color: #46555F;
}

.nav-bg {
  background-color: #716FB3;
}

nav li {
  display:inline-block;
  margin-right: 1px;
}

nav a {
  color: #fff;
}

nav a:hover {
  text-decoration: underline;
}

nav .current {
  text-decoration: underline;
}

/* BANNER */

h2 {
  color: #716FB3;
}

/* .button-wrap {
  position: relative;
} */

button, .btn {
  background-color: #716FB3;
  color: white;
  border-style: none;
  border-radius: 20px;
  /* position: absolute;
  bottom: -3em;
  right: 23em; */
  /*
  position: absolute;
  top: 140%;
  left: 50%;
  transform: translate(-50%, -50%);
  */
}

a {
  text-decoration: none;
}

button a {
  text-decoration: none;
  color: #fff;
}

button:hover {
  background-color: #707070;
}

.banner-bg {
  background-image: url(../images/banner/architecture-cropped.jpg);
  background-size: cover;
  height: 20em;
  background-position: center center;
}

.banner-text {
  background-color: rgba(255,255,255,.9);
}

/* Tour Table */

table {
  border-collapse: collapse;
  min-width: 45em;
}

.darkblue {
  background-color: #8A99A6;
  color: #fff;

}

td, th {
  border: .5px solid #ccc;
  vertical-align: middle;
}

tbody tr:nth-child(odd) {
  background-color: #e2e2e2;
}

/** TOUR REVIEWS **/
.review-section {
  background-color: #EDEDED;
}

/** FOOTER **/

footer {
  background-color: #46555F;

}



footer p {
  color: #fff;

  /*
  position: absolute;
  bottom: -.1em;
  left: 10em;
  */
}


.footer-sm,
.footer-p {
  text-align: center;
}

/* 400px */
@media only screen and (min-width: 25em) {

}

/* 650px */
@media only screen and (min-width: 38em) {
  .footer-p {
     text-align: right;
   }

  .footer-sm {
     text-align: left;
   }

}

/*  980px */
@media only screen and (min-width: 60em) {

  .review img {
    float: none;
    max-width: 200px;
    margin: 0 auto;
    margin-top: 1em;
  }

  .tablewrapper {
    overflow: visible;
  }

}

/*  1500px */
@media only screen and (min-width: 90em) {

}
